/**{
	margin: 0;
	padding: 0;
}*/

body{
	font-family: Arial;
	font-size: 16px;
}

.update-wrapper{
	position: relative;
	margin: 1rem 0;
	/*border-top:1px solid #ccc;*/
	/*max-height: 0;*/
	overflow: hidden;
	transition: max-height 1s ease;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

li{
	padding: 2rem 1rem;
	margin-bottom: 0.2rem;
	background: #f1f1f1; 
}


/*.update-wrapper.-active{
	max-height: 1000px;
}

.update-wrapper:after{
	content: '+';
	position: absolute;
	top:0;
	left: 50px;
	width: 40px;
	height: 40px;
	border: 1px solid pink;
	border-radius: 4px;
}*/